.ratings-card {
  background-color: rgba(129, 129, 139, 0.1);
  border-radius: 30px;
  width: 260px;
  padding: 30px 0px;
  height: max-content;
  padding-left: 40px;
}

.ratings-card-heading {
  font-size: 45px;
  font-weight: 200;
  margin: 0px;
  width: max-content;
}

.ratings-card-details {
  font-family: "Poppins-Light", sans-serif;
  margin: 10px 0px;
  font-size: 11px;
  width: 200px;
  line-height: 17px;
  color: #9c9c9c;
}
