.testimonial-section {
  margin-bottom: 8vh;
}
.testimonial-para {
  display: grid;
  grid-template-columns: auto auto;
  justify-content: space-between;
}

.testimonial-para-button {
  display: flex;
  align-items: flex-end;
  padding-bottom: 10px;
  margin-right: 80px;
}

.testimonial-cards-section{
  margin-top: 50px;
  display: grid;
  grid-template-columns: auto auto auto auto;
}