.button {
  width: 120px;
  height: 38px;
  border-radius: 50px;
  display: grid;
  place-items: center;
  font-size: 10px;
  color: white;
  line-height: 22.4px;
  font-weight: medium;
  letter-spacing: 2px;
  transition: all 0.2s;
  cursor: pointer;
}

.primary {
  background-color: #3d96f4;
}

.primary:hover{
  background-color: #2d6fb5;
}

.secondary {
  background-color: rgba(129, 129, 139, 0.2);
}

.secondary:hover{
  background-color: rgba(129, 129, 139, 0.135);
}
