.navbar {
  margin-top: 15px;
  height: 40px;
  display: flex;
  align-items: center;
}
.logo {
  transform: scale(0.7);
}
.navCon {
  display: flex;
  align-items: center;
  margin-left: auto;
  font-weight: 100;
}
.navCon li {
  font-family: "Poppins-Light", sans-serif;
  line-height: 25.6px;
  font-size: 13px;
  cursor: pointer;
  text-decoration: none;
  margin: 0px 10px;
  display: inline;
  padding: 5px 10px;
  transition: all 0.4s;
}

.navCon li:hover {
  background-color: rgba(129, 129, 139, 0.135);
  border-radius: 20px;
}

.cart-badge {
  border-radius: 50%;
  margin-left: 3px;
  padding: 0px 8px;
  background-color: rgba(129, 129, 139, 0.3);
  display: inline-block;
}
