.navbar {
  margin-top: 15px;
  height: 40px;
  display: flex;
  align-items: center;
}
.logo {
  transform: scale(0.7);
}
.navCon {
  display: flex;
  align-items: center;
  margin-left: auto;
  font-weight: 100;
}
li {
  font-family: "Poppins-Light", sans-serif;
  line-height: 25.6px;
  font-size: 13px;
  cursor: pointer;
  text-decoration: none;
  margin: 0px 20px;
  display: inline;
}
