.topic {
  font-size: 4vw;
  font-weight: 400;
  line-height: 3.5vw;
  width: 40vw;
}

.details {
  margin-top: 0px;
  font-family: "Poppins-Light", sans-serif;
  font-size: 1vw;
  line-height: 1.7vw;
  width: 35vw;
  color: #9c9c9c;
}

.long {
  width: 50vw;
}

@media screen and (max-width: 500px) {
  .topic {
    font-size: 30px;
    width: 80vw;
    line-height: 30px;
  }
  .details {
    font-size: 10px;
    width: 70vw;
    line-height: 15px;
  }
}
