.ratings-section{
    margin-top: 13vh;
    margin-bottom: 8vh;
    display: grid;
    grid-template-columns: 25% 25% 40%;
    column-gap: 20px;
}

.rating-card-grid{
    display: grid;
    grid-template-rows: 43% 43%;
    place-items: center;
}

.rating-image-div{
    display: grid;
    place-items: center;
}

.rating-image{
    display: inline-block;
    width: 500px;
    margin-left: 3vw;
    border-radius: 0px 340px 275px 275px;
}

@media screen and (max-width:500px) {
    .ratings-section{
        grid-template-columns: auto;
        place-items: center;
        margin-top: 30px;
    }
    .rating-image-div{
        display: none;
    }
    .rating-card-grid{
        display: block;
    }
}