.service-section{
    margin: 20vh 0px;
    display: grid;
    grid-template-columns: 50% 50%;
}

.service-cards-secs{
    display: grid;
    grid-template-columns: 50% 50%
}

.service-cards-sec1{
    padding-top: 20%;
}

.service-cards-sec1{
    padding-bottom: 20%;
}